[user]
    name = Nick Allevato
    email = nicholas.allevato@gmail.com
    defaultname = Nick

[merge]
    tool = gvimdiff

[diff]
    guitool = gvimdiff
    tool = gvimdiff

[core]
    editor = vim

#[credential]
#   helper = !\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"

[difftool "gvimdiff"]
    path = gvim
