*.py[cdo]
__pycache__

.vim/bundle
Desktop
Documents
Downloads
Pictures
Public
Videos

*.gitconfig

workbench.*

# JetBrains
.IntelliJIdea14/system
.IntelliJIdea14/restart

.PyCharm40/system
.PyCharm40/restart

.WebStorm9/system
.WebStorm9/restart
/fix.py
